<div class="header">
  <button mat-raised-button>{{'FLASHCARDS.FLASHCARDS' | translate}}</button>
  <app-language></app-language>
  <div class="menu">
    <div class="user button" *ngIf="authService.isLoggedIn()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
      <div>{{authService.user?.username}}</div>
    </div>
    <button mat-raised-button color="primary" class="button" (click)="logout()">{{'IDENTITY.LOGOUT' | translate}}</button>
  </div>
</div>
<ng-container [ngSwitch]="authService.isLoggedIn()">
  <app-home *ngSwitchCase="false"></app-home>
  <div class="main" *ngSwitchCase="true">
    <div class="left">
      <app-menu></app-menu>
    </div>
    <div class="right">
      <app-card></app-card>
    </div>
  </div>
</ng-container>