<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
    <td mat-cell *matCellDef="let element"> {{element.question}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
<div class="cards-container">
  <mat-card class="card" *ngFor="let flashcard of flashcards">
    <mat-card-content class="card-content">
      <mat-card-header>
        <mat-card-title>{{flashcard.question}}</mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <mat-selection-list class="answer" #list [(ngModel)]="flashcard.selectedAnswers">
          <mat-list-option [disabled]="answer.disabled" [ngClass]="{'correct' : answer.correctAnswer, 'wrong' : answer.wrongAnswer}" *ngFor="let answer of flashcard.answers" [value]="answer">
            {{answer.content}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<button mat-raised-button color="primary" (click)='refresh()' class="button">Refresh</button>
<button mat-raised-button color="primary" (click)='answer()' class="button form-btn">Answer</button>
