<mat-card>
  <mat-card-content>
    <mat-selection-list #shoes [multiple]="false">
      <ng-container *ngFor="let option of options; let i = index">
        <mat-list-option  [value]="option" (click)="changeOption(option)" *ngIf="authService.containsPrivilege(option.privilege)">
          {{option.name | translate }}
          <mat-divider *ngIf='i !== (options.length - 1)'></mat-divider>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
