.btn-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.card-container {
    padding: 30px 20px 30px;
}

.form-btn {
    margin-left: 100px;
}

.full-width {
 width: 100%;
}

.answer {
    padding-top: 10px;
}


